<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updating user</title>
</head>
<body>
<form th:action="@{/users/edit(id =${user.getId()})}" th:method="POST" th:object="${user}">
    <label for="name">Enter name:</label>
    <input id="name" th:field="*{name}" type="text"/>
    <div style="color: red" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name error</div>
    <br/>

    <label for="lastName">Enter lastname:</label>
    <input id="lastName" th:field="*{lastName}" type="text"/>
    <div style="color: red" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">Lastname error</div>
    <br/>

    <label for="age">Enter age:</label>
    <input id="age" th:field="*{age}" type="text"/>
    <div style="color: red" th:errors="*{age}" th:if="${#fields.hasErrors('age')}">Age error</div>
    <br/>

    <input type="submit" value="Update user"/>
</form>
</body>
</html>